{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">{{ article.title }}</h1>
    <p class="lead blog-description">The first blog created by BluesySuya</p>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        <p>{{ article.content }}</p>
      </div>
      <div class="reply-block">
      <!-- <div class="reply-block"> 로드가 안됨 -->
        {% for comment in article.article_comments.all %}
        <div class="row">
          <p class="reply-username text-capitalize col-sm-1"><strong>{{ comment.username }}</strong></p>
          <!-- <p class="col-sm-1"> : </p> -->
          <p class="reply-content ext-left col-sm-9">: &nbsp; &nbsp;{{ comment.content }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="reply-form">
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-sm-3">
              <input placeholder="Username" class="form-control" name="username" />
            </div>
            <div class="form-group col-sm-12">
              <textarea
                rows="2"
                placeholder="Content"
                class="form-control"
                name="content"></textarea>
            </div>
            <div class="form-group col-sm-2 col-sm-offset-10">
              <button class="btn btn-default btn-block" tpye="submit">Submit</botton>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <h4>Hashtags</h4>
        <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li>#{{ hashtag }}</li>
          {% endfor %}
      </div>
      <div class="sidebar-module"></div>
    </div>
  </div>
</div>
{% endblock %}
